// Colors
// Primary
$orange: hsl(25, 97%, 53%);

// Neutral
$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$dark-blue: hsl(212, 23%, 14%);
$dark-blue-opacity: hsla(214, 29%, 20%, 0.815);
$very-dark-blue: hsl(216, 12%, 8%);
